.button {
 -fx-font-size: 16;
 -fx-font-weight: bold;
 -fx-background-color: #2196f3;
 -fx-background-radius: 22;
 -fx-text-fill: white;
}

.button:hover{
-fx-font-size: 16;
 -fx-font-weight: bold;
 -fx-background-color: white;
 -fx-background-radius: 22;
 -fx-text-fill: #2196f3;
 -fx-border-color:#2196f3;
 -fx-border-radius: 18;
 -fx-border-width:3;
	
}

.toggle-button{
 -fx-font-size: 16;
 -fx-font-weight: bold;
 -fx-background-color: #2196f3;
 -fx-background-radius: 22;
 -fx-text-fill: white;
}

.toggle-button:hover{
-fx-font-size: 16;
 -fx-font-weight: bold;
 -fx-background-color: white;
 -fx-background-radius: 22;
 -fx-text-fill: #2196f3;
 -fx-border-color:#2196f3;
 -fx-border-radius: 18;
 -fx-border-width:3;
	
}